.logo{
	float: left;
    width: 150px;
    height: 150px;
    position: relative;
	left: 120px;
}

.main {
  max-width: 1000px;
  margin: auto;
  height: 850px;
}

h1{
	text-align: center;
	font-size: 50px;
	word-break: break-all;
}



.title{
	background-color: white;
	float: right;
	width: 85%;
	height: 160px;
	padding-top: 20px;
	text-align: center;
}


footer{
	font-size: 25px;
}

.fa-facebook{
	vertical-align: middle;
	padding: 17px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	background: #3B5998;
	color: #fff  !important;
	opacity: 0.7;
	border-radius: 10px;
	margin: 5px 2px;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	transition: .5s;
}

.fa-twitter{
	vertical-align: middle;
	padding: 17px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	background: #55ACEE;
	color: #fff  !important;
	opacity: 0.7;
	border-radius: 10px;
	margin: 5px 2px;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	transition: .5s;
}

.fa-youtube{
	vertical-align: middle;
	padding: 17px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	background: red;
	color: #fff  !important;
	opacity: 0.7;
	border-radius: 10px;
	margin: 5px 2px;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	transition: .5s;
}

.fa-instagram{
	display: inline-block;
	vertical-align: middle;
	padding: 17px;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 10px;
	margin: 5px 2px;
	color: #fff !important;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	transition: .5s;
}

.site-footer, ul{
	color:white;
}

.contactus, .opening_hours, li{
	position: relative;
	padding-top: 10px;
}

.col-sm-3{
	font-size: 24px;
}

h3{
	margin: 0 !important;
}

footer{
	clear: both;
}

.row{
	text-align: center;
	width: 100% !important;
}


.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

.speaker:hover {
  box-shadow: 0 0 2px 1px red;
}

.speaker{
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  width: 150px; 
}

.price{
 color: red;
 display: inline;
}
.sale{
 color: red;
 text-decoration: line-through;
 display: inline;
}

.navcolor{
  color:#13b6ec;
  float:none !important; 
  text-align: center;
  vertical-align: middle;

}
.navcolor:hover{
  color: #13b6ec;
}

.searchbar{
	margin-bottom: auto;
	margin-top: auto;
	background-color: white;
	font-size: 20px;
}

.search_input{
	width: 700px;
	line-height: 30px;
}


.search_icon{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color:black;
	text-decoration:none;
}


@media screen and (max-width: 1700px){
	.search_input{
	width: 1000px;
	}
}

@media screen and (max-width: 1350px){
	.search_input{
	width: 900px;
	}
}

@media screen and (max-width: 1300px){
	.search_input{
	width: 800px;
	}
}


@media screen and (max-width: 1250px){
	.search_input{
	width: 700px;
	}
}

@media screen and (max-width: 1100px){
	.search_input{
	width: 600px;
	}
}

@media screen and (max-width: 1000px){
	.search_input{
	width: 600px;
	}
	
}


@media screen and (max-width: 900px){
	.search_input{
	width: 500px;
	}
	
}

@media screen and (max-width: 800px){
	.search_input{
	width: 400px;
	}

}

@media screen and (max-width: 800px){
	.search_input{
	width: 300px;
	}
}

@media screen and (max-width: 700px){
	.search_input{
	width: 300px;
	}
	
}




